<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <title>API Quản lý sinh viên</title>
</head>
<body>
<header>
    <h1>API Quản lý sinh viên</h1>
</header>
<section class="features">
    <h2>Các tính năng</h2>
    <ul>
        <li>Xem danh sách sinh viên</li>
        <li>Xem danh sách khoá học</li>
        <li>Xem danh sách môn học</li>
        <li>Xem điểm theo từng sinh viên</li>
        <li>Xem điểm theo danh sách</li>
    </ul>
</section>
</body>
</html>
